@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
}
aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #000;
}
button {
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
main {
  flex: 1;
  padding: 10px 20px;
}
h2 {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 20px;
}
h3 {
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin: 20px 0 0;
}
.person {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 10px;
}
